<% if object.errors.any? %>
  <div class="card-panel red lighten-5">
    <span class="red-text text-darken-4">
      The form contains <%= pluralize(object.errors.count, "error") %>:
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
      </ul>
    </span>
  </div>
<% end %>
