<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Group Activity</h5></span>
		<div class="divider"></div>
		<% if @group_feed.any? %>
  			<ul>
    			<%= render @group_feed %>
  			</ul>
  			<%= will_paginate @group_feed, param_name: :group_feed_page %>
  		<% else %>
        <i>no writing logs have been submitted</i>
		<% end %>
	</div>
</div>
