<div class="card hoverable">
	<div class="card-content blue darken-1">
		<span class="card-title white-text"><h5>Group Activity</h5></span>
		<div class="divider"></div>
		<% if @feed_items.any? %>
  			<ul>
    			<%= render @feed_items %>
  			</ul>
  			<div class="white"><%= will_paginate @feed_items %></div>
  		<% else %>
            <i>no writing logs have been submitted</i>
		<% end %>
	</div>
</div>
