<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Log Writing Session</h5></span>
		<div class="divider"></div>
		<div id="log-errors" class="row center hidden">
			<div class="card-panel red lighten-5">
				<span class="red-text text-darken-4">
					The form contains errors:
					<ul id="log-error-list"></ul>
				</span>
			</div>
		</div>
		<div class="section">
			<div class="input-field">
				<input id="log-title" type="text" class="validate">
				<label for="log-title">Title <span class="red-text">*</span></label>
			</div>
			<div class="row">
				<div class="col l6">
					<div class="input-field">
						<input id="log-hours" type="number" value=0 class="validate">
						<label for="log-hours">Hours <span class="red-text">*</span></label>
					</div>
				</div>
				<div class="col l6">
					<div class="input-field">
						<input id="log-minutes" type="number" value=0 class="validate">
						<label for="log-minutes">Minutes <span class="red-text">*</span></label>
					</div>
				</div>
			</div>
			<div class="row center">
				<a id="submit-log" class="waves-effect waves-light btn green darken-1">
					Post <i class="material-icons right">send</i>
				</a>
	  	</div>
	  </div>
  </div>
</div>

<script>
	// function to validate form input
	function deliverLogErrors() {
		var errors = "";

		if ($("#log-title").val() === "") {
			errors = errors + "<li>* Title can't be blank</li>";
			$("#log-title").addClass("invalid");
		}
		if ($("#log-hours").val() === "") {
			errors = errors + "<li>* Hours can't be blank</li>";
			$("#log-hours").addClass("invalid");
		}
		if ($("#log-minutes").val() === "") {
			errors = errors + "<li>* Minutes can't be blank</li>";
			$("#log-minutes").addClass("invalid");
		}
		if (Number($("#log-hours").val()) < 0) {
			errors = errors + "<li>* Hours can't be negative</li>";
			$("#log-hours").addClass("invalid");
		}
		if (Number($("#log-minutes").val()) < 0) {
			errors = errors + "<li>* Minutes can't be negative</li>";
			$("#log-minutes").addClass("invalid");
		}
		if (Number($("#log-hours").val()) == 0 && Number($("#log-minutes").val()) == 0) {
			errors = errors + "<li>* Total time is invalid</li>";
			$("#log-hours").addClass("invalid");
			$("#log-minutes").addClass("invalid");
		}

		if (errors != "") {
			$("#log-error-list").html(errors);
			$("#log-errors").removeClass("hidden");
			return(true);
		}
		else {
			$("#log-errors").addClass("hidden");
			return(false);
		}
	}
	
  $("#submit-log").click(function() {
  	// check that input is valid, break if not
  	if (deliverLogErrors() === true) {
  		return(0);
  	}

  	// calculate total time in hours and minutes
  	var hours = Number($("#log-hours").val());
  	var minutes = Number($("#log-minutes").val());
  	if (minutes >= 60) {
  		hours = Math.floor(hours + (minutes / 60));
  		minutes = minutes % 60;
  	}

  	// POST form
  	$.ajax({
	    url: "/microposts",
	    type: "POST",
	    data: {
	      micropost: {
	        title: $("#log-title").val(),
	        author: "<%= current_user.name %>",
	        hours: hours,
	        minutes: minutes
	      }
	    }
	  });
  });
</script>