<div class="card hoverable">
	<div class="card-content light-blue darken-3">
		<span class="card-title white-text"><h5>Live Writing Session</h5></span>
		<div class="divider"></div>
		<br>
		<ul class="collapsible popout" data-collapsible="accordion">
			<li>
				<div class="collapsible-header light-blue lighten-4">
					<a class="waves-effect waves-light btn-flat" id="timer-button">
						<i class="material-icons left">alarm</i>
						Timer
					</a>
				</div>
				<div class="collapsible-body"><%= render 'shared/timer' %></div>
			</li>
			<li>
				<div class="collapsible-header light-blue lighten-3">
					<a class="waves-effect waves-light btn-flat">
						<i class="material-icons left">watch</i>
						Stopwatch
					</a>
				</div>
				<div class="collapsible-body"><%= render 'shared/stopwatch' %></div>
			</li>
		</ul>	
	</div>
</div>