<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Start Live Writing Session</h5></span>
		<div class="divider"></div>
		<br>
		<div id="clock-type-wrapper">
			<a class="waves-effect waves-light btn" id="stopwatch-button">Stopwatch</a>
			<a class="waves-effect waves-light btn" id="timer-button">Timer</a>
		</div>
		<div id="stopwatch-wrapper" class="hidden">
			<div class="section">
				<div id="stopwatch-custom-error" class="row center hidden">
					<div class="card-panel red lighten-5">
	    			<span class="red-text text-darken-4">
	      			The form contains 1 error:
	      			<ul>
	        			<li>* Title can't be blank</li>
	      			</ul>
	    			</span>
	  			</div>
	  		</div>
				<div class="row">
					<div class="col l9">
						<div id="clock1"></div>
					</div>
					<div class="col l2">
						<span id="stopwatch-start-wrapper">
							<a class="waves-effect waves-light btn" id="stopwatch-start">Start</a>
						</span>
						<span id="stopwatch-pause-wrapper" class="hidden">
							<a class="waves-effect waves-light btn" id="stopwatch-pause">Pause</a>
						</span>
						<span id="stopwatch-resume-wrapper" class="hidden">
							<a class="waves-effect waves-light btn" id="stopwatch-resume">Resume</a>
						</span>
					</div>
				</div>
				<div id="stopwatch-form-wrapper" class="hidden">
					<div class="input-field">
						<input id="stopwatch-form-title" type="text">
						<label for="stopwatch-form-title">Title <span class="red-text">*</span></label>
					</div>
					<div class="row center">
						<a id="stopwatch-form-post" class="waves-effect waves-light btn green darken-2">
							Post <i class="material-icons right">send</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="timer-wrapper" class="hidden">
			<div class="section">
				<div id="timer-custom-error" class="row center hidden">
					<div class="card-panel red lighten-5">
	    			<span class="red-text text-darken-4">
	      			The form contains 1 error:
	      			<ul>
	        			<li>* Title can't be blank</li>
	      			</ul>
	    			</span>
	  			</div>
	  		</div>
	  		<div id="timer-value-wrapper">
	  			<div class="row">
	  				<p>Set the timer's value:</p>
	  			</div>
	  			<div class="row">
	  				<div class="col l4">
	  					<div class="input-field">
	  						<input id="timer-value-hours" type="number" value=0>
	  						<label for="timer-value-hours">Hours <span class="red-text">*</span></label>
	  					</div>
	  				</div>
	  				<div class="col l4">
	  					<div class="input-field">
	  						<input id="timer-value-minutes" type="number" value=30>
	  						<label for="time-value-minutes">Minutes <span class="red-text">*</span></label>
	  					</div>
	  				</div>
	  				<div class="col l4">
	  					<div class="input-field">
	  						<input id="timer-value-seconds" type="number" value=0>
	  						<label for="time-value-seconds">Seconds <span class="red-text">*</span></label>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row center">
	  				<a id="timer-value-set" class="waves-effect waves-light btn">Set</a>
	  			</div>
	  		</div>
	  		<div id="timer-clock-wrapper" class="hidden">
	  			<div class="row">
						<div class="col l9">
							<div id="clock2"></div>
						</div>
						<div class="col l2">
							<span id="timer-start-wrapper">
								<a class="waves-effect waves-light btn" id="timer-start">Start</a>
							</span>
							<span id="timer-pause-wrapper" class="hidden">
								<a class="waves-effect waves-light btn" id="timer-pause">Pause</a>
							</span>
							<span id="timer-resume-wrapper" class="hidden">
								<a class="waves-effect waves-light btn" id="timer-resume">Resume</a>
							</span>
						</div>
					</div>
					<div id="timer-form-wrapper" class="hidden">
						<div class="input-field">
							<input id="timer-form-title" type="text">
							<label for="timer-form-title">Title <span class="red-text">*</span></label>
						</div>
						<div class="row center">
							<a id="timer-form-post" class="waves-effect waves-light btn green darken-2">
								Post <i class="material-icons right">send</i>
							</a>
						</div>
					</div>
	  		</div>
	  	</div>
		</div>
	</div>
</div>

<script>
  $('label').addClass('active')
</script>