<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Log Writing Session</h5></span>
		<div class="divider"></div>
		<div id="log-errors" class="row center hidden">
			<div class="card-panel red lighten-5">
				<span class="red-text text-darken-4">
					The form contains errors, check that:
					<ul>
						<li>* Title is not blank</li>
						<li>* Hours is not blank</li>
						<li>* Minutes is not blank</li>
					</ul>
				</span>
			</div>
			<br>
		</div>
		<div class="input-field">
			<input id="log-title" type="text">
			<label for="log-title">Title <span class="red-text">*</span></label>
		</div>
		<div class="row">
			<div class="col l6">
				<div class="input-field">
					<input id="log-hours" type="number" value=0>
					<label for="log-hours">Hours <span class="red-text">*</span></label>
				</div>
			</div>
			<div class="col l6">
				<div class="input-field">
					<input id="log-minutes" type="number" value=0>
					<label for="log-minutes">Minutes <span class="red-text">*</span></label>
				</div>
			</div>
		</div>
		<div class="row center">
			<a id="submit-log" class="waves-effect waves-light btn green darken-1">
				Post <i class="material-icons right">send</i>
			</a>
  	</div>
  </div>
</div>

<script>
	var logErrors = false
	
  $("#submit-log").click(function() {
  	if(($("#log-title").val() === "") || ($("#hours").val() === "") || ($("#minutes").val() === "")) {
  		if (logErrors == false) {
  			$("#log-errors").toggleClass("hidden");
  			logErrors = true;
  		}
  		return(0);
  	}

  	var hours = Number($("#log-hours").val());
  	var minutes = Number($("#log-minutes").val());
  	if (minutes >= 60) {
  		hours = Math.floor(hours + (minutes / 60));
  		minutes = minutes % 60;
  	}

  	$.ajax({
	    url: "/microposts",
	    type: "POST",
	    data: {
	      micropost: {
	        title: $("#log-title").val(),
	        author: "<%= current_user.name %>",
	        hours: hours,
	        minutes: minutes
	      }
	    }
	  });
  });
</script>