<div class="card hoverable">
	<div class="card-content">
		<span class="card-title"><h5>Writing Goals</h5></span>
		<div class="divider"></div>
		<br>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header active">Active Goals</div>
				<div class="collapsible-body white">
					<% if @active_goals_feed.any? %>
			  		<ul>
			    		<%= render @active_goals_feed %>
			  		</ul>
			  		<div class="section">
			  			<%= will_paginate @active_goals_feed, param_name: :active_goals_feed_page %>
			  		</div>
			  	<% else %>
			  		<div class="container">
			  			<div class="section">
			        	<i>no new goals have been submitted</i>
			        </div>
			       </div>
					<% end %>
				</div>
			</li>
			<li>
				<div class="collapsible-header">Achieved Goals</div>
				<div class="collapsible-body white">
					<% if @inactive_goals_feed.any? %>
			  		<ul>
			    		<%= render @inactive_goals_feed %>
			  		</ul>
			  		<div class="section">
			  			<%= will_paginate @inactive_goals_feed, param_name: :inactive_goals_feed_page %>
			  		</div>
			  	<% else %>
			  		<div class="container">
			  			<div class="section">
			        	<i>no goals have been achieved</i>
			        </div>
			      </div>
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>