nav .nav-wrapper img {
  height: 64px;
  margin-left: 200%;
}

body {
	background: #eceff1;
}

.hidden {
	display: none;
}

.alert-danger {
	padding: 0.8em; 	
	background: #ef9a9a;
	border: 2px solid #d50000;
	margin-bottom: -5%;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 40vw;  
}

#user-info-card {
  background-image: url("material2.jpg");
  background-position: 60% 11%;
}

#user-info-card-profile {
  background-image: url("material2.jpg");
  background-position: 64% 11%;
}

#custom-error-log {
  margin-bottom: -12%;
}

.white-underline {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 #03a9f4;
  -moz-box-shadow: 0 1px 0 0 #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}

@keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}

.laser {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
}