/*** Universal ***/

body {
	background: #eceff1;
}

.hidden {
	display: none;
}

.alert-danger {
	padding: 0.8em; 	
	background: #e57373;
	border: 2px solid #b71c1c;
	margin-bottom: -3%;
}

.alert-success {
	padding: 0.8em; 	
	background: #e8f5e9;
	border: 2px solid #1b5e20;
	margin-bottom: -3%;
}