nav .nav-wrapper img {
  height: 64px;
  margin-left: 200%;
}

body {
	background: #eceff1;
}

.hidden {
	display: none;
}

.alert-danger {
	padding: 0.8em; 	
	background: #ef9a9a;
	border: 2px solid #d50000;
	margin-bottom: -5%;
}

.alert-success {
	padding: 0.8em; 	
	background: #e8f5e9;
	border: 2px solid #1b5e20;
	margin-bottom: -3%;
}

@keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: #cc5;
    background-size: 75px 150px;
  }
}

.laser {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
}