<ul id="slide-out" class="side-nav fixed">
  <li>
  	<div class="teal">
  		<%= link_to image_tag('log.png'), root_path, id: "logo" %>
  	</div>
  </li>
 </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>